---
import Card from "./Card.astro";
import animationIcon from "../assets/icon-animation.svg";
import designIcon from "../assets/icon-design.svg";
import photographyIcon from "../assets/icon-photography.svg";
import cryptoIcon from "../assets/icon-crypto.svg";
import businessIcon from "../assets/icon-business.svg";
---

<section>
  <div class="frame card-shadow">
    <h2>Check out or most popular courses!</h2>
  </div>
  <Card 
    iconPathSrc={animationIcon.src}
    iconAlt="Animation icon"
    title="Animation"
    description="Learn the latest animation techniques to create stunning motion design and captivate your audience."
    ctaLink="#"
    ctaText="Get Started"  
  />
  <Card 
    iconPathSrc={designIcon.src}
    iconAlt="Design icon"
    title="Design"
    description="Create beautiful, usable interfaces to help shape the future of how the web looks."
    ctaLink="#"
    ctaText="Get Started"  
  />
  <Card 
    iconPathSrc={photographyIcon.src}
    iconAlt="Photography icon"
    title="Photography"
    description="Explore critical fundamentals like lighting, composition, and focus to capture exceptional photos."
    ctaLink="#"
    ctaText="Get Started"  
  />
  <Card 
    iconPathSrc={cryptoIcon.src}
    iconAlt="Crypto icon"
    title="Crypto"
    description="All you need to know to get started investing in crypto. Go from beginner to advanced with this 54 hour course."
    ctaLink="#"
    ctaText="Get Started"  
  />
  <Card 
    iconPathSrc={businessIcon.src}
    iconAlt="Business icon"
    title="Business"
    description="A step-by-step playbook to help you start, scale, and sustain your business without outside investment."
    ctaLink="#"
    ctaText="Get Started"  
  />
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 64px;
    padding-bottom: 80px;
    row-gap: 60px;
    column-gap: 24px;
    background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 144px;
    }

    @media screen and (min-width: 1280px) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 32px;
    }
  }

  .grid-item {
    height: 100%;
  }

  .frame {
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    padding: 32px;
    border-radius: 15px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: #fff;

    @media screen and (min-width: 1280px) {
      font-size: 2rem;
    }
  }
</style>
